<div class="navigation">
  <a href="javascript:void(0)" (click)="Refresh()">Refresh</a>
  <a href="javascript:void(0)" (click)="NavigateBack()">Go Back</a>
</div>
<div *ngIf="!noQuestion">

  <div class="page-header">
      <h2 class="questionHeading">Are these regions the same?</h2>
  </div>
    
    <ul  class="list-group" >
      <li [className]="'list-group-item ' + (loading ? 'disabled' : 'enabled')">{{regionFirst}}</li>
      <li [className]="'list-group-item ' + (loading ? 'disabled' : 'enabled')">{{regionSecond}}</li>
    </ul>
    <div class="YesNoButtons">
        <button (click)="!loading && AnswerQuestion(1)" [className]="'btn btn-primary ' + (loading ? 'disabled' : 'enabled')">
          Yes
        </button>
        <button (click)="!loading && AnswerQuestion(2)" [className]="'btn btn-secondary ' + (loading ? 'disabled' : 'enabled')">
          No
        </button>
    </div>
</div>
